flask
pymongo
flask-restful
python-dotenv
marshmallow
pyjwt
# tensorflow
chromadb
langchain_community
langchain
langchain_mistralai
sentence_transformers
sentence-transformers
mistralai
mistral
flask_cors
flask_pymongo
streamlit
matplotlib